<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CGlab</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="content_margins">
    <header>
        <nav>
            <div class="row" style="margin-left: unset;margin-right:unset">
                <div class="col-sm navitem">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Головна сторінка</a>
                </div>
                <div class="col-sm navitem">
                    <a class="navbar-brand" asp-area="" asp-controller="Fractals" asp-action="Index">Фрактали</a>
                </div>
                <div class="col-sm navitem">
                    <a class="navbar-brand" asp-area="" asp-controller="ColorsSystems" asp-action="ColorModel1">Кольорні моделі</a>
                </div>
                <div class="col-sm navitem">
                    <a class="navbar-brand" asp-area="" asp-controller="Move" asp-action="Index">Перетворення</a>
                </div>
            </div>
            <script>

            </script>
        </nav>
    </header>
    <div class="main_content">
        <main role="main" class="pb-3" style="height:-webkit-fill-available">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
